https://jira.x5.ru/browse/CVMUPG-1089

In [1]:
name = 'CVMUPG-1089_kimberly_add'

In [2]:
import sys
import pandas as pd
import pyspark.sql.functions as F
sys.path.append('/home/jovyan/cvm_upgrade/')
sys.path.append('/home/jovyan/cvm_upgrade/upgrade/')
sys.path.append('/home/jovyan/glow-byte-filters-pyspark')
sys.path.append('/home/jovyan/x5_some_tasks/Osipov/')
from upgrade.post_analysis2.tools.groups_metrics_aggregation import GroupsMetricsAggregation
from upgrade.post_analysis2.tools.guests_metrics_preprocessing import GuestsMetricsPreprocessing
from upgrade.post_analysis2.tools.post_analysis_params import PostAnalysisParams
from upgrade.post_analysis2.tools.metric_names_mapper import map_col_names_to_russian
from upgrade.post_analysis2.tools.experiment_participants import ExperimentParticipants
from upgrade.post_analysis2.tools.experiment_params import ExperimentParams
import datetime
from datetime import timedelta
from spark import *
from utils_osipov import *

%load_ext autoreload
%autoreload 2

pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows = 500

In [3]:
sc, spark = restart_spark(name, 100, executor_memory="3G", executor_cores=5, driver_memory="12G",
                          additional_params={"spark.sql.shuffle.partitions": "200"})
sc.setLogLevel('ERROR')

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/08 03:17:59 WARN cluster.YarnSchedulerBackend$YarnSchedulerEndpoint: Attempted to request executors before the AM has registered!

### A-24-17-recurrent-Kimberly-clark-brand-w2-no

In [4]:
camp_id = 'A-24-17-recurrent-Kimberly-clark-brand-w2-no'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        65307: "sms_viber_tg",
        63797: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-10-20',
    'date_communication_to': '2021-10-26',

    'wave_ids': [
        65380 #если нет, то -1
    ],

    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [5]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [13]:
guests = (experiment_guests_communications
#           .filter(F.col('group_name') == '0_' +
#                 str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
#                 list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
#           .select('customer_rk').distinct()
         )

In [14]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')

In [15]:
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [16]:
plu_codes = [3364389, 3017398, 3364386, 3647605, 3647604, 3923304, 3364392]

In [17]:
seg_pd1 = get_segment_grouped_one_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests)

In [18]:
seg_pd1['qty'] = seg_pd1['qty'].astype('float')

In [19]:
seg_pd1

  plu_code    qty                                  plu_nm
0  3364386  12.00      KOTEX Прокладки Ультра нормал 10шт
1  3017398 225.00  KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт
2  3364392  33.00  KOTEX Прокладки Ультра Драй супер 16шт
3  3647604 236.00  KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт

### A-24-17-recurrent-Kimberly-clark-brand-w2-yes

In [20]:
camp_id = 'A-24-17-recurrent-Kimberly-clark-brand-w2-yes'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        65300: "sms_viber_tg",
        63797: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-10-20',
    'date_communication_to': '2021-10-26',

    'wave_ids': [
        65365 #если нет, то -1
    ],

    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [21]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [22]:
guests = (experiment_guests_communications
#           .filter(F.col('group_name') == '0_' +
#                 str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
#                 list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
#           .select('customer_rk').distinct()
         )

In [23]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')

In [24]:
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [25]:
plu_codes = [3364389, 3017398, 3364386, 3647605, 3647604, 3923304, 3364392]

In [26]:
seg_pd2 = get_segment_grouped_one_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests)

In [27]:
seg_pd2['qty'] = seg_pd2['qty'].astype('float')

In [28]:
seg_pd2

  plu_code    qty                                  plu_nm
0  3364386   7.00      KOTEX Прокладки Ультра нормал 10шт
1  3017398 225.00  KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт
2  3647604 287.00  KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт
3  3364392  29.00  KOTEX Прокладки Ультра Драй супер 16шт

### A-24-16-recurrent-Kimberly-clark-all-w2-no

In [29]:
camp_id = 'A-24-16-recurrent-Kimberly-clark-all-w2-no'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        65289: "sms_viber_tg",
        63796: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-10-20',
    'date_communication_to': '2021-10-26',

    'wave_ids': [
        65401 #если нет, то -1
    ],

    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [30]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [31]:
guests = (experiment_guests_communications
#           .filter(F.col('group_name') == '0_' +
#                 str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
#                 list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
#           .select('customer_rk').distinct()
         )

In [32]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')

In [33]:
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [34]:
plu_codes = [3364389, 3017398, 3364386, 3647605, 3647604, 3923304, 3364392]

In [35]:
seg_pd3 = get_segment_grouped_one_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests)

In [36]:
seg_pd3['qty'] = seg_pd3['qty'].astype('float')

In [37]:
seg_pd3

  plu_code    qty                                   plu_nm
0  3364386   1.00       KOTEX Прокладки Ультра нормал 10шт
1  3017398 126.00   KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт
2  3364389   3.00  KOTEX Прокладки Ультра Драй нормал 20шт
3  3647604 135.00   KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт
4  3364392  21.00   KOTEX Прокладки Ультра Драй супер 16шт

### A-24-16-recurrent-Kimberly-clark-all-w2-yes

In [38]:
camp_id = 'A-24-16-recurrent-Kimberly-clark-all-w2-yes'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        65291: "sms_viber_tg",
        63796: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-10-20',
    'date_communication_to': '2021-10-26',

    'wave_ids': [
        65398 #если нет, то -1
    ],

    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [39]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [40]:
guests = (experiment_guests_communications
#           .filter(F.col('group_name') == '0_' +
#                 str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
#                 list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
#           .select('customer_rk').distinct()
         )

In [41]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')

In [42]:
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [43]:
plu_codes = [3364389, 3017398, 3364386, 3647605, 3647604, 3923304, 3364392]

In [44]:
seg_pd4 = get_segment_grouped_one_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests)

In [45]:
seg_pd4['qty'] = seg_pd4['qty'].astype('float')

In [46]:
seg_pd4

  plu_code    qty                                  plu_nm
0  3364386   2.00      KOTEX Прокладки Ультра нормал 10шт
1  3017398  79.00  KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт
2  3647604 124.00  KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт
3  3364392  15.00  KOTEX Прокладки Ультра Драй супер 16шт

### X-24-18-KimberlyClark-Kotex-Competitors-2-sof

In [47]:
camp_id = 'X-24-18-KimberlyClark-Kotex-Competitors-2-sof'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        63969: "sms_viber_tg",
        63970: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-10-07',
    'date_communication_to': '2021-10-17',

    'wave_ids': [
        64054 #если нет, то -1
    ],

    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [48]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [49]:
guests = (experiment_guests_communications
#           .filter(F.col('group_name') == '0_' +
#                 str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
#                 list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
#           .select('customer_rk').distinct()
         )

In [50]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')

In [51]:
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [52]:
plu_codes = [3364389, 3017398, 3364386, 3647605, 3647604, 3923304, 3364392]

In [53]:
seg_pd5 = get_segment_grouped_one_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests)

In [54]:
seg_pd5['qty'] = seg_pd5['qty'].astype('float')

In [55]:
seg_pd5

  plu_code    qty                                   plu_nm
0  3364386  50.00       KOTEX Прокладки Ультра нормал 10шт
1  3017398 155.00   KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт
2  3923304   1.00  KOTEX Прокладки УЛЬТРА жен.гиг.ноч.14шт
3  3364389   5.00  KOTEX Прокладки Ультра Драй нормал 20шт
4  3647604 234.00   KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт
5  3364392 407.00   KOTEX Прокладки Ультра Драй супер 16шт

### X-24-19-KimberlyClark-Kotex-Loyal-2-sof

In [56]:
camp_id = 'X-24-19-KimberlyClark-Kotex-Loyal-2-sof'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        63965: "sms_viber_tg",
        63782: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-10-07',
    'date_communication_to': '2021-10-17',

    'wave_ids': [
        64055 #если нет, то -1
    ],

    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [57]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [58]:
guests = (experiment_guests_communications
#           .filter(F.col('group_name') == '0_' +
#                 str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
#                 list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
#           .select('customer_rk').distinct()
         )

In [59]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')

In [60]:
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [61]:
plu_codes = [3364389, 3017398, 3364386, 3647605, 3647604, 3923304, 3364392]

In [62]:
seg_pd6 = get_segment_grouped_one_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests)

In [63]:
seg_pd6['qty'] = seg_pd6['qty'].astype('float')

In [64]:
seg_pd6

  plu_code    qty                                   plu_nm
0  3364386  59.00       KOTEX Прокладки Ультра нормал 10шт
1  3017398 221.00   KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт
2  3364389   5.00  KOTEX Прокладки Ультра Драй нормал 20шт
3  3647604 258.00   KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт
4  3364392 448.00   KOTEX Прокладки Ультра Драй супер 16шт

### A-24-17-recurrent-Kimberly-clark-brand

In [65]:
camp_id = 'A-24-17-recurrent-Kimberly-clark-brand'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        63795: "sms_viber_tg",
        63797: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-10-06',
    'date_communication_to': '2021-10-17',

    'wave_ids': [
        65380 #если нет, то -1
    ],

    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [66]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [67]:
guests = (experiment_guests_communications
#           .filter(F.col('group_name') == '0_' +
#                 str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
#                 list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
#           .select('customer_rk').distinct()
         )

In [68]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')

In [69]:
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [70]:
plu_codes = [3364389, 3017398, 3364386, 3647605, 3647604, 3923304, 3364392]

In [71]:
seg_pd7 = get_segment_grouped_one_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests)

In [72]:
seg_pd7['qty'] = seg_pd7['qty'].astype('float')

In [73]:
seg_pd7

  plu_code    qty                                   plu_nm
0  3364386  13.00       KOTEX Прокладки Ультра нормал 10шт
1  3017398  92.00   KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт
2  3364389   2.00  KOTEX Прокладки Ультра Драй нормал 20шт
3  3364392 163.00   KOTEX Прокладки Ультра Драй супер 16шт
4  3647604 103.00   KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт

### A-24-16-recurrent-Kimberly-clark-all

In [74]:
camp_id = 'A-24-16-recurrent-Kimberly-clark-all'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        63794: "sms_viber_tg",
        63796: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-10-06',
    'date_communication_to': '2021-10-17',

    'wave_ids': [
        63866 #если нет, то -1
    ],

    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [75]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [76]:
guests = (experiment_guests_communications
#           .filter(F.col('group_name') == '0_' +
#                 str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
#                 list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
#           .select('customer_rk').distinct()
         )

In [77]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')

In [78]:
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [79]:
plu_codes = [3364389, 3017398, 3364386, 3647605, 3647604, 3923304, 3364392]

In [80]:
seg_pd8 = get_segment_grouped_one_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests)

In [81]:
seg_pd8['qty'] = seg_pd8['qty'].astype('float')

In [82]:
seg_pd8

  plu_code   qty                                   plu_nm
0  3364386 13.00       KOTEX Прокладки Ультра нормал 10шт
1  3017398 35.00   KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт
2  3364389  1.00  KOTEX Прокладки Ультра Драй нормал 20шт
3  3647604 48.00   KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт
4  3364392 70.00   KOTEX Прокладки Ультра Драй супер 16шт

### X-24-16-KimberlyClark-Kotex-Competitors-sof

In [83]:
camp_id = 'X-24-16-KimberlyClark-Kotex-Competitors-sof'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        63780: "sms_viber_tg",
        63785: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-10-06',
    'date_communication_to': '2021-10-17',

    'wave_ids': [
        63873 #если нет, то -1
    ],

    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [84]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [85]:
guests = (experiment_guests_communications
#           .filter(F.col('group_name') == '0_' +
#                 str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
#                 list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
#           .select('customer_rk').distinct()
         )

In [86]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')

In [87]:
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [88]:
plu_codes = [3364389, 3017398, 3364386, 3647605, 3647604, 3923304, 3364392]

In [89]:
seg_pd9 = get_segment_grouped_one_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests)

In [90]:
seg_pd9['qty'] = seg_pd9['qty'].astype('float')

In [91]:
seg_pd9

  plu_code    qty                                   plu_nm
0  3364386  98.00       KOTEX Прокладки Ультра нормал 10шт
1  3017398 215.00   KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт
2  3364389  14.00  KOTEX Прокладки Ультра Драй нормал 20шт
3  3647604 389.00   KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт
4  3364392 660.00   KOTEX Прокладки Ультра Драй супер 16шт

### X-24-15-KimberlyClark-Kotex-Loyal-sof

In [92]:
camp_id = 'X-24-15-KimberlyClark-Kotex-Loyal-sof'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        63771: "sms_viber_tg",
        63782: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-10-06',
    'date_communication_to': '2021-10-17',

    'wave_ids': [
        63870 #если нет, то -1
    ],

    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [93]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [94]:
guests = (experiment_guests_communications
#           .filter(F.col('group_name') == '0_' +
#                 str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
#                 list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
#           .select('customer_rk').distinct()
         )

In [95]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')

In [96]:
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [97]:
plu_codes = [3364389, 3017398, 3364386, 3647605, 3647604, 3923304, 3364392]

In [98]:
seg_pd10 = get_segment_grouped_one_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests)

In [99]:
seg_pd10['qty'] = seg_pd10['qty'].astype('float')

In [100]:
seg_pd10

  plu_code      qty                                   plu_nm
0  3364386   269.00       KOTEX Прокладки Ультра нормал 10шт
1  3017398   756.00   KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт
2  3923304     3.00  KOTEX Прокладки УЛЬТРА жен.гиг.ноч.14шт
3  3364389    13.00  KOTEX Прокладки Ультра Драй нормал 20шт
4  3647604 1,082.00   KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт
5  3364392 1,702.00   KOTEX Прокладки Ультра Драй супер 16шт

### f24_freq24_Kimberly_Clark

In [101]:
camp_id = 'f24_freq24_Kimberly_Clark'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        63744: "sms_viber_tg",
        63744: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-10-06',
    'date_communication_to': '2021-10-17',

    'wave_ids': [
        -1 #если нет, то -1
    ],

    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [102]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [103]:
guests = (experiment_guests_communications
#           .filter(F.col('group_name') == '0_' +
#                 str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
#                 list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
#           .select('customer_rk').distinct()
         )

In [104]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')

In [105]:
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [106]:
plu_codes = [3364389, 3017398, 3364386, 3647605, 3647604, 3923304, 3364392]

In [107]:
seg_pd11 = get_segment_grouped_one_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests)

In [108]:
seg_pd11['qty'] = seg_pd11['qty'].astype('float')

In [109]:
seg_pd11

  plu_code    qty                                   plu_nm
0  3364386  47.00       KOTEX Прокладки Ультра нормал 10шт
1  3017398 106.00   KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт
2  3364389   2.00  KOTEX Прокладки Ультра Драй нормал 20шт
3  3647604 181.00   KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт
4  3364392 294.00   KOTEX Прокладки Ультра Драй супер 16шт

### U-24-12-kotex-loyal-viber-sms

In [110]:
camp_id = 'U-24-12-kotex-loyal-viber-sms'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        63779: "sms_viber_tg",
        63783: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-10-06',
    'date_communication_to': '2021-10-17',

    'wave_ids': [
        63865 #если нет, то -1
    ],

    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [111]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [112]:
guests = (experiment_guests_communications
#           .filter(F.col('group_name') == '0_' +
#                 str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
#                 list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
#           .select('customer_rk').distinct()
         )

In [113]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')

In [114]:
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [115]:
plu_codes = [3364389, 3017398, 3364386, 3647605, 3647604, 3923304, 3364392]

In [116]:
seg_pd12 = get_segment_grouped_one_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests)

In [117]:
seg_pd12['qty'] = seg_pd12['qty'].astype('float')

In [118]:
seg_pd12

  plu_code      qty                                   plu_nm
0  3364386   432.00       KOTEX Прокладки Ультра нормал 10шт
1  3017398 1,367.00   KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт
2  3364389    37.00  KOTEX Прокладки Ультра Драй нормал 20шт
3  3364392 2,735.00   KOTEX Прокладки Ультра Драй супер 16шт
4  3647604 2,001.00   KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт

### U-24-12-kotex-competitors-viber-sms

In [119]:
camp_id = 'U-24-12-kotex-competitors-viber-sms'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        63760: "sms_viber_tg",
        63769: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-10-06',
    'date_communication_to': '2021-10-17',

    'wave_ids': [
        63865 #если нет, то -1
    ],

    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [120]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [121]:
guests = (experiment_guests_communications
#           .filter(F.col('group_name') == '0_' +
#                 str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
#                 list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
#           .select('customer_rk').distinct()
         )

In [122]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')

In [123]:
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [124]:
plu_codes = [3364389, 3017398, 3364386, 3647605, 3647604, 3923304, 3364392]

In [125]:
seg_pd13 = get_segment_grouped_one_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests)

In [126]:
seg_pd13['qty'] = seg_pd13['qty'].astype('float')

In [127]:
seg_pd13

  plu_code    qty                                   plu_nm
0  3364386 139.00       KOTEX Прокладки Ультра нормал 10шт
1  3017398 369.00   KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт
2  3364389  21.00  KOTEX Прокладки Ультра Драй нормал 20шт
3  3647604 627.00   KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт
4  3364392 866.00   KOTEX Прокладки Ультра Драй супер 16шт

In [134]:
seg = pd.DataFrame({'plu_code': plu_codes})

In [136]:
seg = seg.astype('str')

In [138]:
val = pd.merge(seg, seg_pd1, how='left', on='plu_code')

In [139]:
val

  plu_code    qty                                  plu_nm
0  3364389    NaN                                     NaN
1  3017398 225.00  KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт
2  3364386  12.00      KOTEX Прокладки Ультра нормал 10шт
3  3647605    NaN                                     NaN
4  3647604 236.00  KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт
5  3923304    NaN                                     NaN
6  3364392  33.00  KOTEX Прокладки Ультра Драй супер 16шт

In [143]:
val1 = pd.merge(val, seg_pd2, how='left', on=['plu_code', 'plu_nm'], suffixes=('_1', '_2'))
val1

  plu_code  qty_1                                  plu_nm  qty_2
0  3364389    NaN                                     NaN    NaN
1  3017398 225.00  KOTEX Прокл.УЛЬТРА НАЙТ гигиен.жен.7шт 225.00
2  3364386  12.00      KOTEX Прокладки Ультра нормал 10шт   7.00
3  3647605    NaN                                     NaN    NaN
4  3647604 236.00  KOTEX Прокл.ULTRA SOFT гиг.нормал 10шт 287.00
5  3923304    NaN                                     NaN    NaN
6  3364392  33.00  KOTEX Прокладки Ультра Драй супер 16шт  29.00

In [147]:
val2 = pd.merge(val1, seg_pd3, how='left', on=['plu_code', 'plu_nm'])
val3 = pd.merge(val2, seg_pd4, how='left', on=['plu_code', 'plu_nm'])
val4 = pd.merge(val3, seg_pd5, how='left', on=['plu_code', 'plu_nm'])
val5 = pd.merge(val4, seg_pd6, how='left', on=['plu_code', 'plu_nm'])
val6 = pd.merge(val5, seg_pd7, how='left', on=['plu_code', 'plu_nm'])
val7 = pd.merge(val6, seg_pd8, how='left', on=['plu_code', 'plu_nm'])
val8 = pd.merge(val7, seg_pd9, how='left', on=['plu_code', 'plu_nm'])
val9 = pd.merge(val8, seg_pd10, how='left', on=['plu_code', 'plu_nm'])
val10 = pd.merge(val9, seg_pd11, how='left', on=['plu_code', 'plu_nm'])
val11 = pd.merge(val10, seg_pd12, how='left', on=['plu_code', 'plu_nm'])
val12 = pd.merge(val11, seg_pd13, how='left', on=['plu_code', 'plu_nm'])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'qty_x'} in the result is deprecated and will raise a MergeError in a future version.
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'qty_x'} in the result is deprecated and will raise a MergeError in a future version.

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Passing 'suffixes' which cause duplicate columns {'qty_x'} in the result is deprecated and will raise a MergeError in a future version.

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: Passing 'suffixes' which cause duplicate columns {'qty_x'} in the result is deprecated and will raise a MergeError in a future version.
  # Remove the CWD from sys.path while we load stuff.

In [149]:
val12 = val12.drop(columns='plu_nm')

In [151]:
val12 = val12.fillna(0)

In [154]:
list_columns = ['plu_code',
'A-24-17-recurrent-Kimberly-clark-brand-w2-no',
'A-24-17-recurrent-Kimberly-clark-brand-w2-yes',
'A-24-16-recurrent-Kimberly-clark-all-w2-no',
'A-24-16-recurrent-Kimberly-clark-all-w2-yes',
'X-24-18-KimberlyClark-Kotex-Competitors-2-sof',
'X-24-19-KimberlyClark-Kotex-Loyal-2-sof',
'A-24-17-recurrent-Kimberly-clark-brand',
'A-24-16-recurrent-Kimberly-clark-all',
'X-24-16-KimberlyClark-Kotex-Competitors-sof',
'X-24-15-KimberlyClark-Kotex-Loyal-sof',
'f24_freq24_Kimberly_Clark',
'U-24-12-kotex-loyal-viber-sms',
'U-24-12-kotex-competitors-viber-sms']

In [155]:
val12.columns = list_columns

In [158]:
val12 = val12.T

In [160]:
val12.to_excel('all_camp_kimberly' +'.xlsx')