https://jira.x5.ru/browse/CVMUPG-1064

In [1]:
name = 'CVMUPG-1064_whiskas_pa_add'

In [2]:
import sys
import pandas as pd
import pyspark.sql.functions as F
sys.path.append('/home/jovyan/cvm_upgrade/')
sys.path.append('/home/jovyan/cvm_upgrade/upgrade/')
sys.path.append('/home/jovyan/glow-byte-filters-pyspark')
sys.path.append('/home/jovyan/x5_some_tasks/Osipov/')
from upgrade.post_analysis2.tools.groups_metrics_aggregation import GroupsMetricsAggregation
from upgrade.post_analysis2.tools.guests_metrics_preprocessing import GuestsMetricsPreprocessing
from upgrade.post_analysis2.tools.post_analysis_params import PostAnalysisParams
from upgrade.post_analysis2.tools.metric_names_mapper import map_col_names_to_russian
from upgrade.post_analysis2.tools.experiment_participants import ExperimentParticipants
from upgrade.post_analysis2.tools.experiment_params import ExperimentParams
import datetime
from datetime import timedelta
from spark import *
from utils_osipov import *

%load_ext autoreload
%autoreload 2

pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows = 500

In [3]:
sc, spark = restart_spark(name, 100, executor_memory="3G", executor_cores=5, driver_memory="12G",
                          additional_params={"spark.sql.shuffle.partitions": "200"})
sc.setLogLevel('ERROR')

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/11 14:15:51 WARN cluster.YarnSchedulerBackend$YarnSchedulerEndpoint: Attempted to request executors before the AM has registered!

In [4]:
LOYALTY_CARDS = "hive_ssa_tc5.loyalty_card"
LOYALTY_CARDHOLDERS = "hive_ssa_tc5.loyalty_cardholder"
ACCOUNTS = "hive_ssa_tc5.account"
CVM5_GUESTS = "hive_cvm_acrm.cvm5_guests"

DIM_STORE = "hive_ssa_main.dim_store"
CHECKS_HEADERS = "hive_ssa_main.fct_rtl_txn"
CHECKS_ITEMS = "hive_ssa_main.fct_rtl_txn_item"
PRODUCTS = "hive_ssa_tc5.cvm_product"

In [138]:
val = pd.DataFrame({'label': ['label' + str(i) for i in range(1, 8)]})

In [139]:
val

    label
0  label1
1  label2
2  label3
3  label4
4  label5
5  label6
6  label7

### U-27-11-mars-whiskas-postavschik-group7

In [140]:
camp_id = 'U-27-11-mars-whiskas-postavschik-group7'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        75531: "sms_viber_tg",
        75531: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-12-14',
    'date_communication_to': '2021-12-20',

    'wave_ids': [
        75693 #если нет, то -1
    ],
    
    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [141]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [142]:
if len(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())) > 1:
    if str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) != str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]):
        guests_tg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
                  .select('customer_rk').distinct()
                 )

        guests_cg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[1])
                  .select('customer_rk').distinct()
                 )
    else:
        print("Error - check the camp waves ids")
else:
    guests_tg = (experiment_guests_communications
              .filter(F.col('group_name') == '0_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

    guests_cg = (experiment_guests_communications
              .filter(F.col('group_name') == '1_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

In [143]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [1]:
plu_codes = [4118758,4118759,4118761,4118763,4118765,4118766,4118770,4118771,4118772,4118773,4118774,
             4118775,4118780,4118781,4118782,4121237,4121239,4118764,4118779]

In [145]:
seg_pd_cg = get_segment_grouped_several_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests_cg)

[Stage 244:(829 + 225) / 3915][Stage 245:(45 + 69) / 1221][Stage 247:(79 + 47) / 3915]22/02/11 19:24:08 ERROR cluster.YarnScheduler: Lost executor 542 on mn-hd0171.x5.ru: Unable to create executor due to Unable to register with external shuffle server due to : java.util.concurrent.TimeoutException: Timeout waiting for task.
22/02/11 19:24:08 ERROR cluster.YarnScheduler: Lost executor 533 on mn-hd0171.x5.ru: Unable to create executor due to Unable to register with external shuffle server due to : java.util.concurrent.TimeoutException: Timeout waiting for task.
[Stage 244:(830 + 219) / 3915][Stage 245:(45 + 69) / 1221][Stage 247:(79 + 47) / 3915]22/02/11 19:24:08 ERROR cluster.YarnScheduler: Lost executor 534 on mn-hd0171.x5.ru: Unable to create executor due to Unable to register with external shuffle server due to : java.util.concurrent.TimeoutException: Timeout waiting for task.
[Stage 244:(876 + 201) / 3915][Stage 245:(49 + 75) / 1221][Stage 247:(86 + 50) / 3915]22/02/11 19:24:10 ERROR cluster.YarnScheduler: Lost executor 540 on mn-hd0171.x5.ru: Unable to create executor due to Unable to register with external shuffle server due to : java.util.concurrent.TimeoutException: Timeout waiting for task.

In [146]:
seg_pd_cg = seg_pd_cg.sort_values('label').reset_index(drop=True)

In [147]:
val = pd.merge(val, seg_pd_cg, 'left', 'label')

In [148]:
val

    label  qty_checks
0  label1          42
1  label2          15
2  label3           7
3  label4           7
4  label5           5
5  label6           2
6  label7           4

### U-27-11-mars-whiskas-postavschik-group6

In [149]:
camp_id = 'U-27-11-mars-whiskas-postavschik-group6'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        75494: "sms_viber_tg",
        75494: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-12-14',
    'date_communication_to': '2021-12-20',

    'wave_ids': [
        75663 #если нет, то -1
    ],
    
    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [150]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [151]:
if len(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())) > 1:
    if str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) != str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]):
        guests_tg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
                  .select('customer_rk').distinct()
                 )

        guests_cg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[1])
                  .select('customer_rk').distinct()
                 )
    else:
        print("Error - check the camp waves ids")
else:
    guests_tg = (experiment_guests_communications
              .filter(F.col('group_name') == '0_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

    guests_cg = (experiment_guests_communications
              .filter(F.col('group_name') == '1_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

In [152]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [153]:
seg_pd_cg = get_segment_grouped_several_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests_cg)

In [154]:
seg_pd_cg = seg_pd_cg.sort_values('label').reset_index(drop=True)

In [155]:
val = pd.merge(val, seg_pd_cg, 'left', 'label')

In [156]:
val

    label  qty_checks_x  qty_checks_y
0  label1            42           489
1  label2            15            35
2  label3             7            11
3  label4             7             2
4  label5             5             4
5  label6             2             1
6  label7             4             1

### U-27-11-mars-whiskas-postavschik-group5

In [157]:
camp_id = 'U-27-11-mars-whiskas-postavschik-group5'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        75498: "sms_viber_tg",
        75498: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-12-14',
    'date_communication_to': '2021-12-20',

    'wave_ids': [
        75667 #если нет, то -1
    ],
    
    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [158]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [159]:
if len(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())) > 1:
    if str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) != str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]):
        guests_tg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
                  .select('customer_rk').distinct()
                 )

        guests_cg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[1])
                  .select('customer_rk').distinct()
                 )
    else:
        print("Error - check the camp waves ids")
else:
    guests_tg = (experiment_guests_communications
              .filter(F.col('group_name') == '0_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

    guests_cg = (experiment_guests_communications
              .filter(F.col('group_name') == '1_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

In [160]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [161]:
plu_codes = [4118758,4118759,4118761,4118763,4118765,4118766,4118770,4118771,4118772,4118773,4118774,
             4118775,4118780,4118781,4118782,4121237,4121239,4118764,4118779]

In [162]:
seg_pd_cg = get_segment_grouped_several_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests_cg)

In [163]:
seg_pd_cg = seg_pd_cg.sort_values('label').reset_index(drop=True)

In [164]:
val = pd.merge(val, seg_pd_cg, 'left', 'label')

In [165]:
val

    label  qty_checks_x  qty_checks_y  qty_checks
0  label1            42           489        1006
1  label2            15            35         340
2  label3             7            11         173
3  label4             7             2         172
4  label5             5             4          89
5  label6             2             1          41
6  label7             4             1          31

### U-27-11-mars-whiskas-postavschik-group4

In [166]:
camp_id = 'U-27-11-mars-whiskas-postavschik-group4'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        75516: "sms_viber_tg",
        75516: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-12-14',
    'date_communication_to': '2021-12-20',

    'wave_ids': [
        75655 #если нет, то -1
    ],
    
    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [167]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [168]:
if len(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())) > 1:
    if str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) != str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]):
        guests_tg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
                  .select('customer_rk').distinct()
                 )

        guests_cg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[1])
                  .select('customer_rk').distinct()
                 )
    else:
        print("Error - check the camp waves ids")
else:
    guests_tg = (experiment_guests_communications
              .filter(F.col('group_name') == '0_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

    guests_cg = (experiment_guests_communications
              .filter(F.col('group_name') == '1_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

In [169]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [170]:
plu_codes = [4118758,4118759,4118761,4118763,4118765,4118766,4118770,4118771,4118772,4118773,4118774,
             4118775,4118780,4118781,4118782,4121237,4121239,4118764,4118779]

In [171]:
seg_pd_cg = get_segment_grouped_several_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests_cg)

In [172]:
seg_pd_cg = seg_pd_cg.sort_values('label').reset_index(drop=True)

In [173]:
val = pd.merge(val, seg_pd_cg, 'left', 'label')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'qty_checks_x'} in the result is deprecated and will raise a MergeError in a future version.
  """Entry point for launching an IPython kernel.

In [174]:
val

    label  qty_checks_x  qty_checks_y  qty_checks_x  qty_checks_y
0  label1            42           489          1006        977.00
1  label2            15            35           340         93.00
2  label3             7            11           173         15.00
3  label4             7             2           172          6.00
4  label5             5             4            89          4.00
5  label6             2             1            41           NaN
6  label7             4             1            31           NaN

### U-27-11-mars-whiskas-postavschik-group3

In [175]:
camp_id = 'U-27-11-mars-whiskas-postavschik-group3'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        75518: "sms_viber_tg",
        75518: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-12-14',
    'date_communication_to': '2021-12-20',

    'wave_ids': [
        75659 #если нет, то -1
    ],
    
    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [176]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [177]:
if len(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())) > 1:
    if str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) != str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]):
        guests_tg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
                  .select('customer_rk').distinct()
                 )

        guests_cg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[1])
                  .select('customer_rk').distinct()
                 )
    else:
        print("Error - check the camp waves ids")
else:
    guests_tg = (experiment_guests_communications
              .filter(F.col('group_name') == '0_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

    guests_cg = (experiment_guests_communications
              .filter(F.col('group_name') == '1_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

In [178]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [179]:
plu_codes = [4118758,4118759,4118761,4118763,4118765,4118766,4118770,4118771,4118772,4118773,4118774,
             4118775,4118780,4118781,4118782,4121237,4121239,4118764,4118779]

In [180]:
seg_pd_cg = get_segment_grouped_several_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests_cg)

In [181]:
seg_pd_cg = seg_pd_cg.sort_values('label').reset_index(drop=True)

In [182]:
val = pd.merge(val, seg_pd_cg, 'left', 'label')

In [183]:
val

    label  qty_checks_x  qty_checks_y  qty_checks_x  qty_checks_y  qty_checks
0  label1            42           489          1006        977.00      217.00
1  label2            15            35           340         93.00       38.00
2  label3             7            11           173         15.00       14.00
3  label4             7             2           172          6.00        9.00
4  label5             5             4            89          4.00        1.00
5  label6             2             1            41           NaN        1.00
6  label7             4             1            31           NaN         NaN

### U-27-11-mars-whiskas-postavschik-group2

In [184]:
camp_id = 'U-27-11-mars-whiskas-postavschik-group2'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        75525: "sms_viber_tg",
        75662: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-12-14',
    'date_communication_to': '2021-12-20',

    'wave_ids': [
        75676 #если нет, то -1
    ],
    
    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [185]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [186]:
if len(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())) > 1:
    if str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) != str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]):
        guests_tg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
                  .select('customer_rk').distinct()
                 )

        guests_cg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[1])
                  .select('customer_rk').distinct()
                 )
    else:
        print("Error - check the camp waves ids")
else:
    guests_tg = (experiment_guests_communications
              .filter(F.col('group_name') == '0_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

    guests_cg = (experiment_guests_communications
              .filter(F.col('group_name') == '1_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

In [187]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [188]:
plu_codes = [4118758,4118759,4118761,4118763,4118765,4118766,4118770,4118771,4118772,4118773,4118774,
             4118775,4118780,4118781,4118782,4121237,4121239,4118764,4118779]

In [189]:
seg_pd_cg = get_segment_grouped_several_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests_cg)

In [190]:
seg_pd_cg = seg_pd_cg.sort_values('label').reset_index(drop=True)

In [191]:
val = pd.merge(val, seg_pd_cg, 'left', 'label')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'qty_checks_x'} in the result is deprecated and will raise a MergeError in a future version.
  """Entry point for launching an IPython kernel.

In [192]:
val

,label,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y
0,label1,42,489,1006,977.00,217.00,864
1,label2,15,35,340,93.00,38.00,150
2,label3,7,11,173,15.00,14.00,56
3,label4,7,2,172,6.00,9.00,40
4,label5,5,4,89,4.00,1.00,33
5,label6,2,1,41,NaN,1.00,6
6,label7,4,1,31,NaN,NaN,7

### U-27-11-mars-whiskas-postavschik-group1

In [193]:
camp_id = 'U-27-11-mars-whiskas-postavschik-group1'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        75507: "sms_viber_tg",
        75662: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-12-14',
    'date_communication_to': '2021-12-20',

    'wave_ids': [
        75678 #если нет, то -1
    ],
    
    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [194]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [195]:
if len(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())) > 1:
    if str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) != str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]):
        guests_tg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
                  .select('customer_rk').distinct()
                 )

        guests_cg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[1])
                  .select('customer_rk').distinct()
                 )
    else:
        print("Error - check the camp waves ids")
else:
    guests_tg = (experiment_guests_communications
              .filter(F.col('group_name') == '0_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

    guests_cg = (experiment_guests_communications
              .filter(F.col('group_name') == '1_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

In [196]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [197]:
plu_codes = [4118758,4118759,4118761,4118763,4118765,4118766,4118770,4118771,4118772,4118773,4118774,
             4118775,4118780,4118781,4118782,4121237,4121239,4118764,4118779]

In [198]:
seg_pd_cg = get_segment_grouped_several_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests_cg)

In [199]:
seg_pd_cg = seg_pd_cg.sort_values('label').reset_index(drop=True)

In [200]:
val = pd.merge(val, seg_pd_cg, 'left', 'label')

In [201]:
val

,label,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks
0,label1,42,489,1006,977.00,217.00,864,864
1,label2,15,35,340,93.00,38.00,150,150
2,label3,7,11,173,15.00,14.00,56,56
3,label4,7,2,172,6.00,9.00,40,40
4,label5,5,4,89,4.00,1.00,33,33
5,label6,2,1,41,NaN,1.00,6,6
6,label7,4,1,31,NaN,NaN,7,7

### X-27-25-Mars-Whiskas-7-sof

In [202]:
camp_id = 'X-27-25-Mars-Whiskas-7-sof'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        74131: "sms_viber_tg",
        74131: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-12-07',
    'date_communication_to': '2021-12-13',

    'wave_ids': [
        74293 #если нет, то -1
    ],
    
    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [203]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [204]:
if len(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())) > 1:
    if str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) != str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]):
        guests_tg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
                  .select('customer_rk').distinct()
                 )

        guests_cg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[1])
                  .select('customer_rk').distinct()
                 )
    else:
        print("Error - check the camp waves ids")
else:
    guests_tg = (experiment_guests_communications
              .filter(F.col('group_name') == '0_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

    guests_cg = (experiment_guests_communications
              .filter(F.col('group_name') == '1_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

In [205]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [206]:
plu_codes = [4118758,4118759,4118761,4118763,4118765,4118766,4118770,4118771,4118772,4118773,4118774,
             4118775,4118780,4118781,4118782,4121237,4121239,4118764,4118779]

In [207]:
seg_pd_cg = get_segment_grouped_several_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests_cg)

In [208]:
seg_pd_cg = seg_pd_cg.sort_values('label').reset_index(drop=True)

In [209]:
val = pd.merge(val, seg_pd_cg, 'left', 'label')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'qty_checks_x'} in the result is deprecated and will raise a MergeError in a future version.
  """Entry point for launching an IPython kernel.

In [210]:
val

,label,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y
0,label1,42,489,1006,977.00,217.00,864,864,2624
1,label2,15,35,340,93.00,38.00,150,150,952
2,label3,7,11,173,15.00,14.00,56,56,539
3,label4,7,2,172,6.00,9.00,40,40,737
4,label5,5,4,89,4.00,1.00,33,33,454
5,label6,2,1,41,NaN,1.00,6,6,297
6,label7,4,1,31,NaN,NaN,7,7,275

### X-27-24-Mars-Whiskas-6-sof

In [211]:
camp_id = 'X-27-24-Mars-Whiskas-6-sof'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        74611: "sms_viber_tg",
        74611: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-12-08',
    'date_communication_to': '2021-12-13',

    'wave_ids': [
        74716 #если нет, то -1
    ],
    
    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [212]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [213]:
if len(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())) > 1:
    if str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) != str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]):
        guests_tg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
                  .select('customer_rk').distinct()
                 )

        guests_cg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[1])
                  .select('customer_rk').distinct()
                 )
    else:
        print("Error - check the camp waves ids")
else:
    guests_tg = (experiment_guests_communications
              .filter(F.col('group_name') == '0_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

    guests_cg = (experiment_guests_communications
              .filter(F.col('group_name') == '1_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

In [214]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [215]:
plu_codes = [4118758,4118759,4118761,4118763,4118765,4118766,4118770,4118771,4118772,4118773,4118774,
             4118775,4118780,4118781,4118782,4121237,4121239,4118764,4118779]

In [216]:
seg_pd_cg = get_segment_grouped_several_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests_cg)

In [217]:
seg_pd_cg = seg_pd_cg.sort_values('label').reset_index(drop=True)

In [218]:
val = pd.merge(val, seg_pd_cg, 'left', 'label')

In [219]:
val

,label,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks
0,label1,42,489,1006,977.00,217.00,864,864,2624,1563
1,label2,15,35,340,93.00,38.00,150,150,952,394
2,label3,7,11,173,15.00,14.00,56,56,539,179
3,label4,7,2,172,6.00,9.00,40,40,737,268
4,label5,5,4,89,4.00,1.00,33,33,454,155
5,label6,2,1,41,NaN,1.00,6,6,297,86
6,label7,4,1,31,NaN,NaN,7,7,275,90

### X-27-23-Mars-Whiskas-5-sof

In [220]:
camp_id = 'X-27-23-Mars-Whiskas-5-sof'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        74153: "sms_viber_tg",
        74153: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-12-07',
    'date_communication_to': '2021-12-13',

    'wave_ids': [
        74319 #если нет, то -1
    ],
    
    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [221]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [222]:
if len(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())) > 1:
    if str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) != str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]):
        guests_tg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
                  .select('customer_rk').distinct()
                 )

        guests_cg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[1])
                  .select('customer_rk').distinct()
                 )
    else:
        print("Error - check the camp waves ids")
else:
    guests_tg = (experiment_guests_communications
              .filter(F.col('group_name') == '0_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

    guests_cg = (experiment_guests_communications
              .filter(F.col('group_name') == '1_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

In [223]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [224]:
plu_codes = [4118758,4118759,4118761,4118763,4118765,4118766,4118770,4118771,4118772,4118773,4118774,
             4118775,4118780,4118781,4118782,4121237,4121239,4118764,4118779]

In [225]:
seg_pd_cg = get_segment_grouped_several_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests_cg)

In [226]:
seg_pd_cg = seg_pd_cg.sort_values('label').reset_index(drop=True)

In [227]:
val = pd.merge(val, seg_pd_cg, 'left', 'label')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'qty_checks_x'} in the result is deprecated and will raise a MergeError in a future version.
  """Entry point for launching an IPython kernel.

In [228]:
val

,label,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y
0,label1,42,489,1006,977.00,217.00,864,864,2624,1563,2756
1,label2,15,35,340,93.00,38.00,150,150,952,394,963
2,label3,7,11,173,15.00,14.00,56,56,539,179,504
3,label4,7,2,172,6.00,9.00,40,40,737,268,532
4,label5,5,4,89,4.00,1.00,33,33,454,155,389
5,label6,2,1,41,NaN,1.00,6,6,297,86,204
6,label7,4,1,31,NaN,NaN,7,7,275,90,169

### X-27-22-Mars-Whiskas-4-sof

In [229]:
camp_id = 'X-27-22-Mars-Whiskas-4-sof'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        74139: "sms_viber_tg",
        74139: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-12-07',
    'date_communication_to': '2021-12-13',

    'wave_ids': [
        74313 #если нет, то -1
    ],
    
    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [230]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [231]:
if len(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())) > 1:
    if str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) != str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]):
        guests_tg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
                  .select('customer_rk').distinct()
                 )

        guests_cg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[1])
                  .select('customer_rk').distinct()
                 )
    else:
        print("Error - check the camp waves ids")
else:
    guests_tg = (experiment_guests_communications
              .filter(F.col('group_name') == '0_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

    guests_cg = (experiment_guests_communications
              .filter(F.col('group_name') == '1_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

In [232]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [233]:
plu_codes = [4118758,4118759,4118761,4118763,4118765,4118766,4118770,4118771,4118772,4118773,4118774,
             4118775,4118780,4118781,4118782,4121237,4121239,4118764,4118779]

In [234]:
seg_pd_cg = get_segment_grouped_several_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests_cg)

In [235]:
seg_pd_cg = seg_pd_cg.sort_values('label').reset_index(drop=True)

In [236]:
val = pd.merge(val, seg_pd_cg, 'left', 'label')

In [237]:
val

,label,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks
0,label1,42,489,1006,977.00,217.00,864,864,2624,1563,2756,2575
1,label2,15,35,340,93.00,38.00,150,150,952,394,963,558
2,label3,7,11,173,15.00,14.00,56,56,539,179,504,251
3,label4,7,2,172,6.00,9.00,40,40,737,268,532,245
4,label5,5,4,89,4.00,1.00,33,33,454,155,389,168
5,label6,2,1,41,NaN,1.00,6,6,297,86,204,85
6,label7,4,1,31,NaN,NaN,7,7,275,90,169,90

### X-27-21-Mars-Whiskas-3-sof

In [238]:
camp_id = 'X-27-21-Mars-Whiskas-3-sof'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        74606: "sms_viber_tg",
        74606: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-12-08',
    'date_communication_to': '2021-12-13',

    'wave_ids': [
        74704 #если нет, то -1
    ],
    
    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [239]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [240]:
if len(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())) > 1:
    if str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) != str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]):
        guests_tg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
                  .select('customer_rk').distinct()
                 )

        guests_cg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[1])
                  .select('customer_rk').distinct()
                 )
    else:
        print("Error - check the camp waves ids")
else:
    guests_tg = (experiment_guests_communications
              .filter(F.col('group_name') == '0_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

    guests_cg = (experiment_guests_communications
              .filter(F.col('group_name') == '1_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

In [241]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [242]:
plu_codes = [4118758,4118759,4118761,4118763,4118765,4118766,4118770,4118771,4118772,4118773,4118774,
             4118775,4118780,4118781,4118782,4121237,4121239,4118764,4118779]

In [243]:
seg_pd_cg = get_segment_grouped_several_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests_cg)

In [244]:
seg_pd_cg = seg_pd_cg.sort_values('label').reset_index(drop=True)

In [245]:
val = pd.merge(val, seg_pd_cg, 'left', 'label')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'qty_checks_x'} in the result is deprecated and will raise a MergeError in a future version.
  """Entry point for launching an IPython kernel.

In [246]:
val

,label,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y
0,label1,42,489,1006,977.00,217.00,864,864,2624,1563,2756,2575,1327
1,label2,15,35,340,93.00,38.00,150,150,952,394,963,558,349
2,label3,7,11,173,15.00,14.00,56,56,539,179,504,251,158
3,label4,7,2,172,6.00,9.00,40,40,737,268,532,245,265
4,label5,5,4,89,4.00,1.00,33,33,454,155,389,168,145
5,label6,2,1,41,NaN,1.00,6,6,297,86,204,85,73
6,label7,4,1,31,NaN,NaN,7,7,275,90,169,90,84

### X-27-20-Mars-Whiskas-2-sof

In [247]:
camp_id = 'X-27-20-Mars-Whiskas-2-sof'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        74124: "sms_viber_tg",
        74124: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-12-07',
    'date_communication_to': '2021-12-13',

    'wave_ids': [
        74355 #если нет, то -1
    ],
    
    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [248]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [249]:
if len(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())) > 1:
    if str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) != str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]):
        guests_tg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
                  .select('customer_rk').distinct()
                 )

        guests_cg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[1])
                  .select('customer_rk').distinct()
                 )
    else:
        print("Error - check the camp waves ids")
else:
    guests_tg = (experiment_guests_communications
              .filter(F.col('group_name') == '0_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

    guests_cg = (experiment_guests_communications
              .filter(F.col('group_name') == '1_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

In [250]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [251]:
plu_codes = [4118758,4118759,4118761,4118763,4118765,4118766,4118770,4118771,4118772,4118773,4118774,
             4118775,4118780,4118781,4118782,4121237,4121239,4118764,4118779]

In [252]:
seg_pd_cg = get_segment_grouped_several_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests_cg)

In [253]:
seg_pd_cg = seg_pd_cg.sort_values('label').reset_index(drop=True)

In [254]:
val = pd.merge(val, seg_pd_cg, 'left', 'label')

In [255]:
val

,label,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks
0,label1,42,489,1006,977.00,217.00,864,864,2624,1563,2756,2575,1327,2941
1,label2,15,35,340,93.00,38.00,150,150,952,394,963,558,349,720
2,label3,7,11,173,15.00,14.00,56,56,539,179,504,251,158,361
3,label4,7,2,172,6.00,9.00,40,40,737,268,532,245,265,444
4,label5,5,4,89,4.00,1.00,33,33,454,155,389,168,145,261
5,label6,2,1,41,NaN,1.00,6,6,297,86,204,85,73,154
6,label7,4,1,31,NaN,NaN,7,7,275,90,169,90,84,119

### X-27-19-Mars-Whiskas-1-sof

In [256]:
camp_id = 'X-27-19-Mars-Whiskas-1-sof'

experiment_params = ExperimentParams(**{
    # Camp wave id нужно записать в виде мапы из id в префиксы.
    # Префиксы ни на что не влияют, просто для более красивого названия групп
    # Заполняются camp_wave_id. Если для контроля и теста одинаковый, то пишем два раза
    'map_camp_wave_ids_to_suffixes': {
        74138: "sms_viber_tg",
        74140: "sms_viber_cg"
    },

    # communication period with guest (sending sms, push, etc.)
    'date_communication_from': '2021-12-07',
    'date_communication_to': '2021-12-13',

    'wave_ids': [
        74301 #если нет, то -1
    ],
    
    'communication_costs': {
        'sms': 1.38,
        'viber': 1.32,
        'email': 0.0083
    }
})
#0_ + camp_wave_id +_sms_viber_ + cg (если номера волн равны) / tg (если номера волн разные)

In [257]:
experiment_guests = ExperimentParticipants(spark, experiment_params)
experiment_guests_communications = experiment_guests.extract()

In [258]:
if len(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())) > 1:
    if str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) != str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]):
        guests_tg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
                  .select('customer_rk').distinct()
                 )

        guests_cg = (experiment_guests_communications
                  .filter(F.col('group_name') == '0_' +
                        str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[1]) + '_' +
                        list(experiment_params.map_camp_wave_ids_to_suffixes.values())[1])
                  .select('customer_rk').distinct()
                 )
    else:
        print("Error - check the camp waves ids")
else:
    guests_tg = (experiment_guests_communications
              .filter(F.col('group_name') == '0_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

    guests_cg = (experiment_guests_communications
              .filter(F.col('group_name') == '1_' +
                    str(list(experiment_params.map_camp_wave_ids_to_suffixes.keys())[0]) + '_' +
                    list(experiment_params.map_camp_wave_ids_to_suffixes.values())[0])
              .select('customer_rk').distinct()
             )

In [259]:
dt1 = datetime.datetime.strptime(experiment_params.date_communication_from, '%Y-%m-%d')
dt2 = datetime.datetime.strptime(experiment_params.date_communication_to, '%Y-%m-%d')
start_date = datetime.date(dt1.year, dt1.month, dt1.day)
end_date = datetime.date(dt2.year, dt2.month, dt2.day)

In [260]:
plu_codes = [4118758,4118759,4118761,4118763,4118765,4118766,4118770,4118771,4118772,4118773,4118774,
             4118775,4118780,4118781,4118782,4121237,4121239,4118764,4118779]

In [261]:
seg_pd_cg = get_segment_grouped_several_plu(spark, 
                    start_date, 
                    end_date, 
                    plu_codes,
                    guests=guests_cg)

In [262]:
seg_pd_cg = seg_pd_cg.sort_values('label').reset_index(drop=True)

In [263]:
val = pd.merge(val, seg_pd_cg, 'left', 'label')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'qty_checks_x'} in the result is deprecated and will raise a MergeError in a future version.
  """Entry point for launching an IPython kernel.

In [264]:
val

,label,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y,qty_checks_x,qty_checks_y
0,label1,42,489,1006,977.00,217.00,864,864,2624,1563,2756,2575,1327,2941,2586
1,label2,15,35,340,93.00,38.00,150,150,952,394,963,558,349,720,629
2,label3,7,11,173,15.00,14.00,56,56,539,179,504,251,158,361,306
3,label4,7,2,172,6.00,9.00,40,40,737,268,532,245,265,444,258
4,label5,5,4,89,4.00,1.00,33,33,454,155,389,168,145,261,184
5,label6,2,1,41,NaN,1.00,6,6,297,86,204,85,73,154,110
6,label7,4,1,31,NaN,NaN,7,7,275,90,169,90,84,119,80

In [265]:
list_columns = ['label',
'U-27-11-mars-whiskas-postavschik-group7',
'U-27-11-mars-whiskas-postavschik-group6',
'U-27-11-mars-whiskas-postavschik-group5',
'U-27-11-mars-whiskas-postavschik-group4',
'U-27-11-mars-whiskas-postavschik-group3',
'U-27-11-mars-whiskas-postavschik-group2',
'U-27-11-mars-whiskas-postavschik-group1',
'X-27-25-Mars-Whiskas-7-sof',
'X-27-24-Mars-Whiskas-6-sof',
'X-27-23-Mars-Whiskas-5-sof',
'X-27-22-Mars-Whiskas-4-sof',
'X-27-21-Mars-Whiskas-3-sof',
'X-27-20-Mars-Whiskas-2-sof',
'X-27-19-Mars-Whiskas-1-sof']

In [266]:
val.columns = list_columns

In [267]:
val.to_excel('cg_labels_whiskas.xlsx', index=False)

In [268]:
val

,label,U-27-11-mars-whiskas-postavschik-group7,U-27-11-mars-whiskas-postavschik-group6,U-27-11-mars-whiskas-postavschik-group5,U-27-11-mars-whiskas-postavschik-group4,U-27-11-mars-whiskas-postavschik-group3,U-27-11-mars-whiskas-postavschik-group2,U-27-11-mars-whiskas-postavschik-group1,X-27-25-Mars-Whiskas-7-sof,X-27-24-Mars-Whiskas-6-sof,X-27-23-Mars-Whiskas-5-sof,X-27-22-Mars-Whiskas-4-sof,X-27-21-Mars-Whiskas-3-sof,X-27-20-Mars-Whiskas-2-sof,X-27-19-Mars-Whiskas-1-sof
0,label1,42,489,1006,977.00,217.00,864,864,2624,1563,2756,2575,1327,2941,2586
1,label2,15,35,340,93.00,38.00,150,150,952,394,963,558,349,720,629
2,label3,7,11,173,15.00,14.00,56,56,539,179,504,251,158,361,306
3,label4,7,2,172,6.00,9.00,40,40,737,268,532,245,265,444,258
4,label5,5,4,89,4.00,1.00,33,33,454,155,389,168,145,261,184
5,label6,2,1,41,NaN,1.00,6,6,297,86,204,85,73,154,110
6,label7,4,1,31,NaN,NaN,7,7,275,90,169,90,84,119,80

22/02/12 03:44:08 ERROR cluster.YarnClientSchedulerBackend: YARN application has exited unexpectedly with state FAILED! Check the YARN application logs for more details.
22/02/12 03:44:08 ERROR cluster.YarnClientSchedulerBackend: Diagnostics message: Attempt recovered after RM restartDue to executor failures all available nodes are blacklisted
22/02/12 03:44:08 ERROR client.TransportClient: Failed to send RPC RPC 8376267621400154747 to /192.168.234.57:52504: java.nio.channels.ClosedChannelException
java.nio.channels.ClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(...)(Unknown Source)
22/02/12 03:44:08 ERROR cluster.YarnSchedulerBackend$YarnSchedulerEndpoint: Sending RequestExecutors(0,0,Map(),Set()) to AM was unsuccessful
java.io.IOException: Failed to send RPC RPC 8376267621400154747 to /192.168.234.57:52504: java.nio.channels.ClosedChannelException
	at org.apache.spark.network.client.TransportClient$RpcChannelListener.handleFailure(TransportClient.java:362)
	at org.apache.spark.network.client.TransportClient$StdChannelListener.operationComplete(TransportClient.java:339)
	at io.netty.util.concurrent.DefaultPromise.notifyListener0(DefaultPromise.java:507)
	at io.netty.util.concurrent.DefaultPromise.notifyListenersNow(DefaultPromise.java:481)
	at io.netty.util.concurrent.DefaultPromise.notifyListeners(DefaultPromise.java:420)
	at io.netty.util.concurrent.DefaultPromise.tryFailure(DefaultPromise.java:122)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.safeSetFailure(AbstractChannel.java:987)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(AbstractChannel.java:869)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.write(DefaultChannelPipeline.java:1316)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWrite0(AbstractChannelHandlerContext.java:738)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWrite(AbstractChannelHandlerContext.java:730)
	at io.netty.channel.AbstractChannelHandlerContext.access$1900(AbstractChannelHandlerContext.java:38)
	at io.netty.channel.AbstractChannelHandlerContext$AbstractWriteTask.write(AbstractChannelHandlerContext.java:1081)
	at io.netty.channel.AbstractChannelHandlerContext$WriteAndFlushTask.write(AbstractChannelHandlerContext.java:1128)
	at io.netty.channel.AbstractChannelHandlerContext$AbstractWriteTask.run(AbstractChannelHandlerContext.java:1070)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:163)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:403)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:463)
	at io.netty.util.concurrent.SingleThreadEventExecutor$5.run(SingleThreadEventExecutor.java:858)
	at io.netty.util.concurrent.DefaultThreadFactory$DefaultRunnableDecorator.run(DefaultThreadFactory.java:138)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.nio.channels.ClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(...)(Unknown Source)
22/02/12 03:44:08 ERROR util.Utils: Uncaught exception in thread YARN application state monitor
org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:226)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:75)
	at org.apache.spark.scheduler.cluster.CoarseGrainedSchedulerBackend.requestTotalExecutors(CoarseGrainedSchedulerBackend.scala:574)
	at org.apache.spark.scheduler.cluster.YarnSchedulerBackend.stop(YarnSchedulerBackend.scala:98)
	at org.apache.spark.scheduler.cluster.YarnClientSchedulerBackend.stop(YarnClientSchedulerBackend.scala:164)
	at org.apache.spark.scheduler.TaskSchedulerImpl.stop(TaskSchedulerImpl.scala:653)
	at org.apache.spark.scheduler.DAGScheduler.stop(DAGScheduler.scala:2042)
	at org.apache.spark.SparkContext$$anonfun$stop$6.apply$mcV$sp(SparkContext.scala:1949)
	at org.apache.spark.util.Utils$.tryLogNonFatalError(Utils.scala:1340)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:1948)
	at org.apache.spark.scheduler.cluster.YarnClientSchedulerBackend$MonitorThread.run(YarnClientSchedulerBackend.scala:121)
Caused by: java.io.IOException: Failed to send RPC RPC 8376267621400154747 to /192.168.234.57:52504: java.nio.channels.ClosedChannelException
	at org.apache.spark.network.client.TransportClient$RpcChannelListener.handleFailure(TransportClient.java:362)
	at org.apache.spark.network.client.TransportClient$StdChannelListener.operationComplete(TransportClient.java:339)
	at io.netty.util.concurrent.DefaultPromise.notifyListener0(DefaultPromise.java:507)
	at io.netty.util.concurrent.DefaultPromise.notifyListenersNow(DefaultPromise.java:481)
	at io.netty.util.concurrent.DefaultPromise.notifyListeners(DefaultPromise.java:420)
	at io.netty.util.concurrent.DefaultPromise.tryFailure(DefaultPromise.java:122)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.safeSetFailure(AbstractChannel.java:987)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(AbstractChannel.java:869)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.write(DefaultChannelPipeline.java:1316)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWrite0(AbstractChannelHandlerContext.java:738)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWrite(AbstractChannelHandlerContext.java:730)
	at io.netty.channel.AbstractChannelHandlerContext.access$1900(AbstractChannelHandlerContext.java:38)
	at io.netty.channel.AbstractChannelHandlerContext$AbstractWriteTask.write(AbstractChannelHandlerContext.java:1081)
	at io.netty.channel.AbstractChannelHandlerContext$WriteAndFlushTask.write(AbstractChannelHandlerContext.java:1128)
	at io.netty.channel.AbstractChannelHandlerContext$AbstractWriteTask.run(AbstractChannelHandlerContext.java:1070)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:163)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:403)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:463)
	at io.netty.util.concurrent.SingleThreadEventExecutor$5.run(SingleThreadEventExecutor.java:858)
	at io.netty.util.concurrent.DefaultThreadFactory$DefaultRunnableDecorator.run(DefaultThreadFactory.java:138)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.nio.channels.ClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(...)(Unknown Source)