In [1]:
name = 'savushkin_add'

In [2]:
!pip install pydantic
import sys
import pandas as pd
import pyspark.sql.functions as F
sys.path.append('/home/jovyan/cvm_upgrade/')
sys.path.append('/home/jovyan/cvm_upgrade/upgrade/')
sys.path.append('/home/jovyan/glow-byte-filters-pyspark')
sys.path.append('/home/jovyan/x5_some_tasks/Osipov/')
from upgrade.post_analysis2.tools.groups_metrics_aggregation import GroupsMetricsAggregation
from upgrade.post_analysis2.tools.guests_metrics_preprocessing import GuestsMetricsPreprocessing
from upgrade.post_analysis2.tools.post_analysis_params import PostAnalysisParams
from upgrade.post_analysis2.tools.metric_names_mapper import map_col_names_to_russian
from upgrade.post_analysis2.tools.experiment_participants import ExperimentParticipants
from upgrade.post_analysis2.tools.experiment_params import ExperimentParams
import datetime
from logic_filters import *
from datetime import timedelta
from spark import *
from utils_osipov import *
from segmentation import *

%load_ext autoreload
%autoreload 2

pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows = 500

Looking in indexes: https://repo-dmp.do.x5.ru/repository/pypi/simple
Requirement already satisfied: pydantic in /opt/conda/lib/python3.7/site-packages (1.9.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/conda/lib/python3.7/site-packages (from pydantic) (3.7.4.3)

In [3]:
sc, spark = restart_spark(name, 100, executor_memory="3G", executor_cores=5, driver_memory="12G",
                          additional_params={"spark.sql.shuffle.partitions": "200"})
sc.setLogLevel('ERROR')

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/24 10:53:03 WARN cluster.YarnSchedulerBackend$YarnSchedulerEndpoint: Attempted to request executors before the AM has registered!

In [4]:
LOYALTY_CARDS = "hive_ssa_tc5.loyalty_card"
LOYALTY_CARDHOLDERS = "hive_ssa_tc5.loyalty_cardholder"
ACCOUNTS = "hive_ssa_tc5.account"
CVM5_GUESTS = "hive_cvm_acrm.cvm5_guests"

DIM_STORE = "hive_ssa_main.dim_store"
CHECKS_HEADERS = "hive_ssa_main.fct_rtl_txn"
CHECKS_ITEMS = "hive_ssa_main.fct_rtl_txn_item"
PRODUCTS = "hive_ssa_tc5.cvm_product"

In [5]:
plu_codes = [3367104,3388814,3672506,3919797,3926055,4046891,4046892,4046893,4118966,4137277]

In [6]:
# guests_all.write.parquet('temp1066_guests_all', mode='overwrite')
guests_all = spark.read.parquet('temp1066_guests_all')

In [7]:
guests_all.count()

291608

### 3. Анализ продаж магазинов в категории твердых сыров

In [8]:
only_target = guests_all.filter(F.col('group').isin(['tg1', 'tg2']))

In [9]:
start_date1 = datetime.date(2021, 12, 2)
end_date1 = datetime.date(2021, 12, 29)
start_date2 = datetime.date(2021, 9, 29)
end_date2 = datetime.date(2021, 12, 29)

#### Отбор магазинов

In [10]:
checks_headers = (spark.table(CHECKS_HEADERS)
                      .filter(F.col('rtl_txn_dt').between(start_date2, end_date2))
                      .filter((F.col('loyalty_card_no') != '') & (F.col('loyalty_card_no').isNotNull()))
                      .filter(F.col('financial_unit_format_dk') == 'D')
                      .filter(F.col('rtl_txn_cancel_flg') == 0)
                      .select('rtl_txn_id', 'loyalty_card_no', 'store_id')
                     )

In [11]:
loyalty_cards = (spark
                    .table(LOYALTY_CARDS)
                    .withColumnRenamed("loyalty_card_id", "loyalty_card_no")
                    .withColumnRenamed("loyalty_account_id", "account_no")
                    .withColumnRenamed("loyalty_account_acrm_id", "account_rk")
                    .select('account_no', 'loyalty_card_no')
                )
loyalty_cardholders = (spark
                        .table(LOYALTY_CARDHOLDERS)
                        .withColumnRenamed("loyalty_cardholder_acrm_id", "customer_rk")
                        .withColumnRenamed("loyalty_account_id", "account_no")
                        .select('account_no', 'customer_rk')
                      )
clients_info = loyalty_cards.join(loyalty_cardholders, on='account_no', how='inner')
clients_info = clients_info.join(only_target, on='customer_rk', how='inner')

In [12]:
checks_headers_tc5 = checks_headers.join(clients_info, on='loyalty_card_no') #оставили чеки только нужных гостей

In [13]:
stores = checks_headers_tc5.select('store_id').distinct().toPandas()['store_id'].to_list()

#### Подсчет по целевым PLU

In [14]:
checks_headers = (spark.table(CHECKS_HEADERS)
                      .filter(F.col('rtl_txn_dt').between(start_date1, end_date1))
                      .filter((F.col('loyalty_card_no') != '') & (F.col('loyalty_card_no').isNotNull()))
                      .filter(F.col('financial_unit_format_dk') == 'D')
                      .filter(F.col('rtl_txn_cancel_flg') == 0)
                      .select('rtl_txn_id', 'loyalty_card_no', 'rtl_txn_dt', 'store_id')
                     )

In [15]:
checks_headers_tc5 = checks_headers.filter(F.col('store_id').isin(stores))

In [16]:
loyalty_cards = (spark
                    .table(LOYALTY_CARDS)
                    .withColumnRenamed("loyalty_card_id", "loyalty_card_no")
                    .withColumnRenamed("loyalty_account_id", "account_no")
                    .withColumnRenamed("loyalty_account_acrm_id", "account_rk")
                    .select('account_no', 'loyalty_card_no')
                )
loyalty_cardholders = (spark
                        .table(LOYALTY_CARDHOLDERS)
                        .withColumnRenamed("loyalty_cardholder_acrm_id", "customer_rk")
                        .withColumnRenamed("loyalty_account_id", "account_no")
                        .select('account_no', 'customer_rk')
                      )
clients_info = loyalty_cards.join(loyalty_cardholders, on='account_no', how='inner')

In [17]:
checks_headers_tc5 = checks_headers_tc5.join(clients_info, on='loyalty_card_no') #оставили чеки только нужных гостей

In [18]:
checks_items = (spark.table(CHECKS_ITEMS) 
                    .withColumnRenamed('plu_id', 'plu_code')
                    .withColumnRenamed('turnover_no_vat_amt', 'zsalnovat')
                    .withColumnRenamed('turnover_vat_rub_amt', 'zsale_vat')
                    .withColumnRenamed('prime_cost_no_vat_amt', 'zcst_n')
                    .withColumnRenamed('turnover_base_uom_amt', 'base_qty')
                    .withColumnRenamed('discount_amt', 'zdiscount')
                    .withColumnRenamed('fact_regular_promo_flg', 'zpromofl')
                    .filter(F.col('rtl_txn_dt').between(start_date1, end_date1))
                    .filter((F.col('zsalnovat') >= 0) & (F.col('base_qty') >= 0) & (F.col('zcst_n') > 0)) #keep only correct data
                        .select('plu_code' #items id
                                , 'rtl_txn_id' #cheques id
                                , 'zsalnovat'
                               )
                   )

In [19]:
checks_items = checks_items.filter(F.col('plu_code').isin(plu_codes)) # только чеки с нужными plu

In [20]:
checks_tc5 = checks_items.join(checks_headers_tc5, 'rtl_txn_id', how='inner')

In [21]:
week1_start = datetime.date(2021, 12, 2)
week1_end = datetime.date(2021, 12, 8)
week2_start = datetime.date(2021, 12, 9)
week2_end = datetime.date(2021, 12, 15)
week3_start = datetime.date(2021, 12, 16)
week3_end = datetime.date(2021, 12, 22)
week4_start = datetime.date(2021, 12, 23)
week4_end = datetime.date(2021, 12, 29)

In [22]:
checks_tc5_with_week = (checks_tc5.withColumn('week', F.when(F.col('rtl_txn_dt').between(week1_start, week1_end), "week1")
                                             .when(F.col('rtl_txn_dt').between(week2_start, week2_end), "week2")
                                             .when(F.col('rtl_txn_dt').between(week3_start, week3_end), "week3")
                                             .when(F.col('rtl_txn_dt').between(week4_start, week4_end), "week4")
                                   ))

In [23]:
in_sum = (checks_tc5_with_week.groupby('week').agg(F.sum('zsalnovat').alias('sum_in_target_plu')))

In [24]:
in_sum_pd_target_plu = in_sum.toPandas()

In [25]:
in_sum_pd_target_plu

    week sum_in_target_plu
0  week1       23958425.01
1  week2       34530520.62
2  week3       47697196.75
3  week4       28858369.52

In [26]:
in_sum_pd_target_plu.loc[0, 'start_dt'] = '02-12-2021'
in_sum_pd_target_plu.loc[0, 'end_dt'] = '08-12-2021'
in_sum_pd_target_plu.loc[1, 'start_dt'] = '09-12-2021'
in_sum_pd_target_plu.loc[1, 'end_dt'] = '15-12-2021'
in_sum_pd_target_plu.loc[2, 'start_dt'] = '16-12-2021'
in_sum_pd_target_plu.loc[2, 'end_dt'] = '22-12-2021'
in_sum_pd_target_plu.loc[3, 'start_dt'] = '23-12-2021'
in_sum_pd_target_plu.loc[3, 'end_dt'] = '29-12-2021'

In [27]:
in_sum_pd_target_plu

    week sum_in_target_plu    start_dt      end_dt
0  week1       23958425.01  02-12-2021  08-12-2021
1  week2       34530520.62  09-12-2021  15-12-2021
2  week3       47697196.75  16-12-2021  22-12-2021
3  week4       28858369.52  23-12-2021  29-12-2021

In [28]:
in_sum_pd_target_plu['prev'] = 0

In [29]:
for i in range(1, len(in_sum_pd_target_plu)):
    in_sum_pd_target_plu.loc[i, 'prev'] = in_sum_pd_target_plu.loc[i-1, 'sum_in_target_plu']

In [30]:
in_sum_pd_target_plu.loc[0, 'prev'] = in_sum_pd_target_plu.loc[0, 'sum_in_target_plu']

In [31]:
in_sum_pd_target_plu

    week sum_in_target_plu    start_dt      end_dt         prev
0  week1       23958425.01  02-12-2021  08-12-2021  23958425.01
1  week2       34530520.62  09-12-2021  15-12-2021  23958425.01
2  week3       47697196.75  16-12-2021  22-12-2021  34530520.62
3  week4       28858369.52  23-12-2021  29-12-2021  47697196.75

In [32]:
in_sum_pd_target_plu.loc[:, ['prev', 'sum_in_target_plu']] = in_sum_pd_target_plu[['prev', 'sum_in_target_plu']].astype('float')

In [33]:
in_sum_pd_target_plu['%_prev'] = ((in_sum_pd_target_plu['sum_in_target_plu'] - in_sum_pd_target_plu['prev']) * 100 / in_sum_pd_target_plu['prev'])

In [34]:
in_sum_pd_target_plu['prev'] = in_sum_pd_target_plu.sum_in_target_plu - in_sum_pd_target_plu.prev

In [35]:
in_sum_pd_target_plu

    week sum_in_target_plu    start_dt      end_dt           prev %_prev
0  week1     23,958,425.01  02-12-2021  08-12-2021           0.00   0.00
1  week2     34,530,520.62  09-12-2021  15-12-2021  10,572,095.61  44.13
2  week3     47,697,196.75  16-12-2021  22-12-2021  13,166,676.13  38.13
3  week4     28,858,369.52  23-12-2021  29-12-2021 -18,838,827.23 -39.50

In [36]:
in_sum_pd_target_plu.to_excel('in_sum_stores_brest_litovsk.xlsx', index=False)

### 2

#### Подсчет по целевым PLU гостей из кампании

In [14]:
checks_headers = (spark.table(CHECKS_HEADERS)
                      .filter(F.col('rtl_txn_dt').between(start_date1, end_date1))
                      .filter((F.col('loyalty_card_no') != '') & (F.col('loyalty_card_no').isNotNull()))
                      .filter(F.col('financial_unit_format_dk') == 'D')
                      .filter(F.col('rtl_txn_cancel_flg') == 0)
                      .select('rtl_txn_id', 'loyalty_card_no', 'rtl_txn_dt', 'store_id')
                     )

In [15]:
checks_headers_tc5 = checks_headers.filter(F.col('store_id').isin(stores))

In [16]:
loyalty_cards = (spark
                    .table(LOYALTY_CARDS)
                    .withColumnRenamed("loyalty_card_id", "loyalty_card_no")
                    .withColumnRenamed("loyalty_account_id", "account_no")
                    .withColumnRenamed("loyalty_account_acrm_id", "account_rk")
                    .select('account_no', 'loyalty_card_no')
                )
loyalty_cardholders = (spark
                        .table(LOYALTY_CARDHOLDERS)
                        .withColumnRenamed("loyalty_cardholder_acrm_id", "customer_rk")
                        .withColumnRenamed("loyalty_account_id", "account_no")
                        .select('account_no', 'customer_rk')
                      )
clients_info = loyalty_cards.join(loyalty_cardholders, on='account_no', how='inner')
clients_info = clients_info.join(guests_all, on='customer_rk', how='inner')

In [17]:
checks_headers_tc5 = checks_headers_tc5.join(clients_info, on='loyalty_card_no') #оставили чеки только нужных гостей

In [18]:
checks_items = (spark.table(CHECKS_ITEMS) 
                    .withColumnRenamed('plu_id', 'plu_code')
                    .withColumnRenamed('turnover_no_vat_amt', 'zsalnovat')
                    .withColumnRenamed('turnover_vat_rub_amt', 'zsale_vat')
                    .withColumnRenamed('prime_cost_no_vat_amt', 'zcst_n')
                    .withColumnRenamed('turnover_base_uom_amt', 'base_qty')
                    .withColumnRenamed('discount_amt', 'zdiscount')
                    .withColumnRenamed('fact_regular_promo_flg', 'zpromofl')
                    .filter(F.col('rtl_txn_dt').between(start_date1, end_date1))
                    .filter((F.col('zsalnovat') >= 0) & (F.col('base_qty') >= 0) & (F.col('zcst_n') > 0)) #keep only correct data
                        .select('plu_code' #items id
                                , 'rtl_txn_id' #cheques id
                                , 'zsalnovat'
                               )
                   )

In [19]:
checks_items = checks_items.filter(F.col('plu_code').isin(plu_codes)) # только чеки с нужными plu

In [20]:
checks_tc5 = checks_items.join(checks_headers_tc5, 'rtl_txn_id', how='inner')

In [21]:
week1_start = datetime.date(2021, 12, 2)
week1_end = datetime.date(2021, 12, 8)
week2_start = datetime.date(2021, 12, 9)
week2_end = datetime.date(2021, 12, 15)
week3_start = datetime.date(2021, 12, 16)
week3_end = datetime.date(2021, 12, 22)
week4_start = datetime.date(2021, 12, 23)
week4_end = datetime.date(2021, 12, 29)

In [22]:
checks_tc5_with_week = (checks_tc5.withColumn('week', F.when(F.col('rtl_txn_dt').between(week1_start, week1_end), "week1")
                                             .when(F.col('rtl_txn_dt').between(week2_start, week2_end), "week2")
                                             .when(F.col('rtl_txn_dt').between(week3_start, week3_end), "week3")
                                             .when(F.col('rtl_txn_dt').between(week4_start, week4_end), "week4")
                                   ))

In [23]:
in_sum = (checks_tc5_with_week.groupby('week').agg(F.sum('zsalnovat').alias('sum_in_target_plu')))

In [24]:
in_sum_pd_target_plu = in_sum.toPandas()

In [25]:
in_sum_pd_target_plu

    week sum_in_target_plu
0  week1         343510.65
1  week2         569828.58
2  week3         891751.16
3  week4         507134.61

In [ ]:
in_sum_pd_target_plu.loc[0, 'start_dt'] = '02-12-2021'
in_sum_pd_target_plu.loc[0, 'end_dt'] = '08-12-2021'
in_sum_pd_target_plu.loc[1, 'start_dt'] = '09-12-2021'
in_sum_pd_target_plu.loc[1, 'end_dt'] = '15-12-2021'
in_sum_pd_target_plu.loc[2, 'start_dt'] = '16-12-2021'
in_sum_pd_target_plu.loc[2, 'end_dt'] = '22-12-2021'
in_sum_pd_target_plu.loc[3, 'start_dt'] = '23-12-2021'
in_sum_pd_target_plu.loc[3, 'end_dt'] = '29-12-2021'

In [26]:
in_sum_pd_target_plu

    week sum_in_target_plu
0  week1         343510.65
1  week2         569828.58
2  week3         891751.16
3  week4         507134.61

In [27]:
in_sum_pd_target_plu['prev'] = 0

In [28]:
for i in range(1, len(in_sum_pd_target_plu)):
    in_sum_pd_target_plu.loc[i, 'prev'] = in_sum_pd_target_plu.loc[i-1, 'sum_in_target_plu']

In [29]:
in_sum_pd_target_plu.loc[0, 'prev'] = in_sum_pd_target_plu.loc[0, 'sum_in_target_plu']

In [30]:
in_sum_pd_target_plu

    week sum_in_target_plu       prev
0  week1         343510.65  343510.65
1  week2         569828.58  343510.65
2  week3         891751.16  569828.58
3  week4         507134.61  891751.16

In [31]:
in_sum_pd_target_plu.loc[:, ['prev', 'sum_in_target_plu']] = in_sum_pd_target_plu[['prev', 'sum_in_target_plu']].astype('float')

In [32]:
in_sum_pd_target_plu['%_prev'] = ((in_sum_pd_target_plu['sum_in_target_plu'] - in_sum_pd_target_plu['prev']) * 100 / in_sum_pd_target_plu['prev'])

In [33]:
in_sum_pd_target_plu['prev'] = in_sum_pd_target_plu.sum_in_target_plu - in_sum_pd_target_plu.prev

In [34]:
in_sum_pd_target_plu

    week sum_in_target_plu        prev %_prev
0  week1        343,510.65        0.00   0.00
1  week2        569,828.58  226,317.93  65.88
2  week3        891,751.16  321,922.58  56.49
3  week4        507,134.61 -384,616.55 -43.13

In [35]:
in_sum_pd_target_plu.to_excel('in_sum_stores_plu_guest_camp.xlsx', index=False)